<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.microsoft.Excel.disabled</key>
	<dict>
		<key>Margins</key>
		<dict>
			<key>MarginLeft</key>
			<integer>-1</integer>
			<key>MarginRight</key>
			<integer>-1</integer>
			<key>MarginUp</key>
			<integer>33</integer>
			<key>MarginDown</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>com.irradiatedsoftware.Example</key>
	<dict>
		<key>Margins</key>
		<dict>
			<key>MarginLeft</key>
			<integer>100</integer>
			<key>MarginRight</key>
			<integer>100</integer>
			<key>MarginUp</key>
			<integer>-1</integer>
			<key>MarginDown</key>
			<integer>10</integer>
		</dict>
		<key>ActionParameters</key>
		<dict>
			<key>Center</key>
			<dict>
				<key>Width</key>
				<integer>1280</integer>
				<key>Height</key>
				<integer>768</integer>
			</dict>
			<key>Left</key>
			<dict>
				<key>X</key>
				<integer>-1</integer>
				<key>Y</key>
				<integer>-1</integer>
				<key>Width</key>
				<real>0.6666</real>
				<key>Height</key>
				<integer>-1</integer>
			</dict>
			<key>Right</key>
			<dict>
				<key>X</key>
				<real>0.3333</real>
				<key>Y</key>
				<integer>-1</integer>
				<key>Width</key>
				<real>0.6666</real>
				<key>Height</key>
				<integer>-1</integer>
			</dict>
			<key>Lower RIght</key>
			<dict>
				<key>X</key>
				<integer>-1</integer>
				<key>Y</key>
				<integer>-1</integer>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>-1</integer>
			</dict>
			<key>Full Screen</key>
			<dict>
				<key>X</key>
				<integer>-1</integer>
				<key>Y</key>
				<integer>-1</integer>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>-1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
